<h1>Welcome</h1>

<%= link_to "Sign up", signup_path %>

OR

<%= link_to "Log in", login_path %>

<a class="btn btn-block btn-social btn-google" href='/auth/google_oauth2'><span class="fa fa-google"></span> Log in with Google</a>
<a class="btn btn-block btn-social btn-facebook" href='/auth/facebook'><span class="fa fa-facebook" ></span> Log in with Facebook</a>

<div class="row">
    <div class="col-4" style="color:yellow">this is the first column</div>
    <div class="col-8" style="background-color:red">this is the second column</div>
</div>