<h1>Welcome</h1>

<%= link_to "Sign up", signup_path %>

OR

<%= link_to "Log in", login_path %>


<div class="row">
    <div class="col-4" style="color:yellow">this is the first column</div>
    <div class="col-8" style="background-color:red">this is the second column</div>
</div>