<h1>Welcome</h1>

<%= link_to "Sign up", signup_path %>

OR

<%= link_to "Log in", login_path %>
<h2>For Mechanics</h2>
<%= link_to "Mechanics", mechanic_sessions_path %>
<br />
<br />
<%= link_to "To be a Mechanic", new_mechanic_path %>