<h1>Welcome</h1>

<%= link_to "Sign up", signup_path %>

OR

<%= link_to "Log in", login_path %>
<h2>For Mechanics</h2>

<br />
<br />
<%= link_to "To be a Mechanic", new_mechanic_path %>
<div class="row">
    <div class="col-4" style="color:yellow">this is the first column</div>
    <div class="col-8" style="background-color:red">this is the second column</div>
</div>