/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */

@import "bootstrap"; 
@import "rails_bootstrap_forms";  
@import "font-awesome";

.vehicle {
    background-image: url(work_shop.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.field-with-errors {    
    padding: 2px;    
    background-color: red;    
    display: table;  
} 


.shibu {
    background-image: url(cute_shibu.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.white {
    background-color: cadetblue;
    width: 30%;
}

.yellow {
    background-color: rgb(233, 233, 26);
    width: 30%;
}

.erb {
    color: blue;
}

h1 {
    background-color: rgb(175,167,167);
    font-weight: bold;
    width: 30%
}

.red {
    color: RGBA(181,13,10,1);
    font-weight: bold;
    background-color: rgb(175,167,167);
    width: 30%
}
.weight{
    border-top: 10px solid;
    color: RGBA(181,13,10,1)
}

.gray {
    background-color: rgb(175,167,167);
    font-weight: bold;
    width: 20%
}

/* a:visited {
    color: olive;
}

a:hover {
    color: olive;
} */

a {
    color: rgb(233, 233, 26);
}